@import '../styles/variables';

.appHeader {
    padding: $spacer $spacer / 1.5;
    color: $brand-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: $brand-black
        url('../../node_modules/@oceanprotocol/art/jellyfish/jellyfish-grid.svg')
        no-repeat center -6rem;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: $appWidth;
    z-index: 3;

    @media (min-width: $break-point--medium) {
        padding: $spacer;
    }

    svg {
        width: 50px;
        height: 50px;
        margin-top: -($spacer / 4);

        @media (min-width: $break-point--medium) {
            width: 60px;
            height: 60px;
        }
    }
}

.topLinks {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
    flex: 1;
    text-align: right;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: -0.3rem;
    margin-right: -($spacer / 1.5);
    padding-right: $spacer;

    @media (min-width: $break-point--medium) {
        padding-right: 0;
        margin-right: $spacer / 2;
    }

    &::-webkit-scrollbar,
    &::-moz-scrollbar {
        display: none;
    }

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        transition: opacity 0.2s ease-out;
    }

    li {
        display: inline-block;
        margin-left: $spacer;

        @media (min-width: $break-point--medium) {
            margin-left: $spacer * 2;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: rgba($brand-white, 0.7);
        font-weight: $font-weight-bold;
        text-transform: uppercase;
        font-size: $font-size-small;

        @media (min-width: $break-point--medium) {
            font-size: $font-size-base;
        }

        &:hover,
        &:focus,
        &.active {
            &,
            &:hover,
            &:focus {
                color: $brand-white;
                transform: none;
            }
        }
    }
}
